<h2><%= @author.name %></h2>
<%= image_tag @author.image %>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Delete', @author, :method => :delete, :data => { :confirm => 'Are you sure?' } %>

<h3>Books</h3>
<% @author.books.each do |book| %>
  <%= link_to book.title, book %>
<% end %>