<h2><%= @book.title %></h2>
<h3>Author: <%= link_to(@book.author.name, @book.author) if @book.author %></h3>
<%= image_tag(@book.image) %>
<%= link_to('Edit', edit_book_path(@book)) %>
<%= link_to('Delete', @book, :method => :delete, :data => {:confirm => 'Are you sure?' }) %>